.carousel {
    padding: 2rem 0;
}

.title {
    margin-top: 55px;
    text-align: center;
}

.carousel img {
    height: 90vh;
    object-fit: cover;
}

.thumbs-wrapper,
.carousel-status {
    display: none;
}